@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --modal-duration: 1s;
  --primary-color: #303960;
  --secondary-color: #ea9a96;
  --light-color: #e5e5e5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  transition: transform 0.3s ease;
}

body.shownav {
  transform: translateX(200px);
}

/* Utility */
button,
input[type="submit"] {
  cursor: pointer;
  padding: 10px;
  border: 0;
  border-radius: 5px;
}
button:focus {
  outline: none;
}
/* Nav */
nav {
  background: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  transform: translateX(-100%);
}

nav .logo {
  padding: 40px 0;
  text-align: center;
}

nav .logo img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

nav ul {
  list-style: none;
}

nav ul li {
  padding: 20px;
  border-bottom: 1px dotted var(--light-color);
}

nav ul li:first-of-type {
  border-top: 1px dotted var(--light-color);
}

nav ul li a {
  text-decoration: none;
  color: var(--light-color);
}

/* Header */
header {
  background: var(--primary-color);
  color: #fff;
  text-align: center;
  padding: 40px 0;
}

header h1 {
  font-size: 45px;
}
header p {
  margin: 20px 0;
  font-size: 15px;
}

header .toggle-btn {
  background: #22244b;
  color: #fff;
  position: absolute;
  top: 20px;
  left: 20px;
}

header .cta-btn {
  background: var(--secondary-color);
  color: #fff;
  font-size: 20px;
}

/* main */
.container {
  padding: 30px;
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}

.container h2 {
  font-size: 30px;
}

.container p {
  margin: 15px 0;
}

.container ul {
  margin: 10px 30px;
}

/* Modal */
.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 400px;
  max-width: 100%;
  border-radius: 8px;
}

.modal .modal-header {
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.modal .close-btn {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  color: #fff;
}

.modal-content {
  padding: 30px 20px;
}

.modal-content div {
  margin: 15px 0;
}

.modal-content label {
  display: block;
  margin-bottom: 7px;
}
.modal-content .form-input {
  padding: 10px;
  width: 100%;
}

.modal-content input:focus {
  outline: none;
}

.modal-content .submit-btn {
  background: var(--secondary-color);
  color: #fff;
}
